<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.creat.mapper.TicketReservationMapper">

    <select id="selectForUpdate" resultType="asia.creat.entity.TicketReservation">
        SELECT * FROM tb_ticket_reservation WHERE id = #{id} FOR UPDATE
    </select>

    <select id="selectByOrderIdForUpdate" resultType="asia.creat.entity.TicketReservation">
        SELECT * FROM tb_ticket_reservation WHERE order_id = #{orderId} FOR UPDATE
    </select>

    <select id="selectActiveOrders" resultType="asia.creat.entity.TicketReservation">
        SELECT r.id, o.user_id, o.ticket_id
        FROM tb_ticket_order o
        LEFT JOIN tb_ticket_reservation r ON r.order_id = o.id
        WHERE o.ticket_id = #{ticketId}
          AND o.status IN (0, 1)
    </select>
</mapper>
